body {
	background: transparent;
	font-family: helvetica, verdana;
}

/*form styles*/
.contact-form {
	margin: 10px;
	text-align: center;
	position: relative;
}

.contact-form-fields {
	width: 100%;
	background: #fff;
	border: 0;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 20px 30px;
	/*stacking fieldsets above each other*/
	position: absolute;
}

.error {
	display: none;
	text-align: justify;
	color: #f42123;
	font-weight: normal;
	font-size: 13px;
}

.success {
	margin-top: 20px;
	display: none;
	color: #00cd79;
	font-weight: bold;
}

.form-input.invalid {
	color: #000;
	border: 1px solid #f42123;
}

/*inputs*/
.form-input {
	resize: none;
	padding: 15px;
	border: 1px solid #959595;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #000;
	font-size: 13px;
	display: block;
}


.form-input:focus {
	border: 1px solid #959595;
	outline: none;
}

/*placeholder style*/
::-webkit-input-placeholder { /* WebKit browsers */
    color: black;
    opacity: 1;
}


:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: black;
   opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: black;
   opacity: 1;
}


:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: black;
   opacity: 1;
}


/*buttons*/
.submit-button {
  font-size: 13px;
	background: #fff;
	font-weight: bold;
	color: #000;
	border-color: #000;
	border-style: solid;
	cursor: pointer;
	box-sizing: border-box;
	padding: 10px 5px;
	width: 100%;
	margin-bottom: 10px;
}

.submit-button:hover,
.submit-button:focus {
	background: #000;
	color: #fff;
	border-color: #000;
	outline: none;
}

/*loading*/
.overlay {
	display: none;
  position: absolute;
	top: 0;
	left: 0;
	height: 100%;
  width: 100%;
  background-color: rgb(172, 172, 172);
  background-color: rgba(172, 172, 172, .6);
  z-index: 1000;
}

.overlay-message {
	width: 300px;
  height: 200px;
  line-height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  background-color: #fff;
  color: #2c3e50;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}
